apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: rrhh
  name: category-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: category-service
  template:
    metadata:
      labels:
        app: category-service
    spec:
      containers:
        - name: category-service
          image: smooth2444/category-service:1.0.0
          ports:
            - containerPort: 8082
          envFrom:
            - configMapRef:
                name: category-service-config
            - secretRef:
                name: category-service-secret
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
