server:
  port: 8080

spring:
  application:
    name: api-gateway

  boot:
    admin:
      client:
        instance:
          management-base-url: http://localhost:${server.port}
        url: http://localhost:8890

# Mapeo de Microservicios
  cloud:
    gateway:
      server:
        webflux:
          routes:
            # ---- PRODUCT SERVICE ----
            - id: product-service
              uri: ${PRODUCT_URI:http://localhost:8081}
              predicates:
                - Path=/products/**
              filters:
                - RewritePath=/products/(?<path>.*), /$\{path}

            # ---- CATEGORY SERVICE ----
            - id: category-service
              uri: ${CATEGORY_URI:http://localhost:8082}
              predicates:
                - Path=/categories/**
              filters:
                - RewritePath=/categories/(?<path>.*), /$\{path}

            # ---- PROVIDER SERVICE ----
            - id: provider-service
              uri: ${PROVIDER_URI:http://localhost:8083}
              predicates:
                - Path=/providers/**
              filters:
                - RewritePath=/providers/(?<path>.*), /$\{path}

            # ---- STOCK SERVICE ----
            - id: stock-service
              uri: ${STOCK_URI:http://localhost:8084}
              predicates:
                - Path=/stock/**
              filters:
                - RewritePath=/stock/(?<path>.*), /$\{path}

# Keycloak Integrations
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:5080/realms/rrhh/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  health:
    readinessstate:
      enabled: 'true'
    livenessstate:
      enabled: 'true'
  endpoint:
    gateway:
      access: unrestricted
    health:
      probes:
        enabled: 'true'
      show-details: always
