server:
  port: 8082

spring:
  application:
    name: category-service

  ###############################################
  # PostgreSQL (R2DBC - Reactive)
  ###############################################
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/category_db
    username: admin
    password: 123456

  sql:
    init:
      mode: never

logging:
  level:
    org.springframework.r2dbc: DEBUG
