apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: rrhh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: anovoa1975/ms-api-gateway:1.0.0
          ports:
            - containerPort: 8887
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
          volumeMounts:
            - name: config-volume
              mountPath: /config
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m" 
      volumes:
        - name: config-volume
          configMap:
            name: rrhh-gateway-config
