apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: rrhh
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: dagner2001/api-gateway:1.0.0
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_CONFIG_LOCATION
              value: file:/config/application.yml
          volumeMounts:
            - name: config-volume
              mountPath: /config
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m" 
      volumes:
        - name: config-volume
          configMap:
            name: api-gateway-config
